asgiref==3.5.2
colorama==0.4.5
coverage==6.5.0
Django==4.0
django-browser-reload==1.6.0
django-htmx==1.12.2
Faker==15.0.0
model-bakery==1.9.0
numpy==1.23.4
opencv-python==4.4.0.46
Pillow==9.2.0
python-dateutil==2.8.2
pyzbar==0.1.9
qrcode==7.3.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.4
